/* Оформление параграфов */
body{
    background: #333333 url(images/12.jpg) repeat top left;
}
#page {
       width: 960px;
       margin: auto;         
}

.strong-red{
    font-weight: bolder;
    color:red;
}

.light-blue {
    font-weight: lighter;
    color: blue;
}